:root {
    --background-color: #ffffff;
    /* Light background */
    --text-color: #000000;
    /* Light text */
    --input-background-color: #f9f9f9;
    /* Light input background */
    --border-color: #ddd;
    /* Light border */
    --button-background: #885df1;
    /* Light button */
    --button-hover: #f65282;
    /* Light button hover */
}

[data-theme='dark'] {
    --background-color: #1e1e2f;
    /* Dark background */
    --text-color: #eaeaea;
    /* Dark text */
    --input-background-color: #3f3f5f;
    /* Dark input background */
    --border-color: #3f3f5f;
    /* Dark border */
    --button-background: #885df1;
    /* Dark button */
    --button-hover: #f65282;
    /* Dark button hover */
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

.weather-app {
    max-width: 600px;
    margin: 0 auto;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 70%;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--input-background-color);
}

.search-button,
#theme-toggle {
    background-color: var(--button-background);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover,
#theme-toggle:hover {
    background-color: var(--button-hover);
}

.current-weather {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}

.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

.current-details {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.current-details strong {
    color: #f65282;
    /* Pink for strong elements */
}

.current-temperature-icon {
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
}

.current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
}

footer {
    border-top: 1px solid var(--border-color);
    text-align: center;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}